# Python cache files
__pycache__/
*.pyc

# Test runs and output files
*.log
*.html
test/

# Conda environment directory
amrscan-env/

# Distribution / packaging files
dist/
build/
*.egg-info/

# VS Code
.vscode/